<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maqueta HTML</title>
    <link rel="stylesheet" href="../resources/css/index.css">
</head>
<body>
    <table id="tabla" border="1">
        <tr>
            <td id="td_pedidos_total">Pedidos en curso: Total XXX</td>
        </tr>
    </table>
</body>
<script type="module" src="../resources/js/functions.js"></script>
</html>