<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maqueta HTML</title>
    <link rel="stylesheet" href="../resources/css/index.css">
</head>
<body>
    <nav id="tabla" border="1">
        <ul id="td_pedidos_total">
            <li>Pedidos en curso: Total XXX</li>
        </ul>
        <div id="filas">
            <div id="horarios"></div>
            <div id="pedidos"></div>
        </div>
    </nav>
</body>
<script type="module" src="../resources/js/functions.js"></script>
</html>