<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla General</title>
    <link rel="stylesheet" href="../resources/css/index.css">
    <link rel="stylesheet" href="../resources/css/pendientes.css">
    <link rel="stylesheet" href="../resources/css/devios.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="tablas">
        <div id="tabla" border="1">
            <div id="td_pedidos_total">
                <li>Pedidos en curso: Total XXX</li>
            </div>
        </div>
        <div id="tabla_problema" border="1">
            <h1 class="titulo_problema back_yellow">Pedidos en Problema</h1>
        </div>
        <div id="tabla_desvios" border="1">
            <h1 class="titulo_desvio back_orange">Pedidos Desviados</h1>
        </div>
    </div>
</body>
<script type="module" src="../resources/js/general.js"></script>
<script type="module" src="../resources/js/problema.js"></script>
<script type="module" src="../resources/js/desvios.js"></script>
</html>